body {
    font-family: 'Nanum Gothic', sans-serif;
}

.btn {
    margin: 1%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 10%;
    font-weight: bold;
}

.btn:hover {
    color: rgba(190, 189, 193, 0.492);
}

.container {
    width: 900px;
    margin: auto;
    background-color: rgb(202, 236, 225);
}

.form {
    margin: 1%;
    padding: 0.1%;
    display: flex;
    align-items: center;
}

.playlists{
    display: flex;
}

div > h3{
    margin: 1%;
    padding-top: 2%;
}
div > h1{
    margin: 1%;
    padding-top: 2%;
}

